.Pag-imgs{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .sec-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        padding: 20px;
        padding-top: 35px;
        padding-bottom: 80px;

        background-image: url('../../../public/assets/images/background-quadrados.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        max-height: 500px;
        height: 100%;

        border-bottom: solid 15px #44a4df;
        
        div{
            display: flex;
            flex-direction: column;
            color: #33215B;
            align-items: center;
            text-align: center;

            h1{
                font-size: 49px;
                font-weight: 700;
                margin:20px 0px;
            }

            h2{
                font-size: 45px;
                font-weight: 400;
                margin-bottom: 24px;
            }

            @media screen and (max-width: 1024px) {
                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 32px;
                }

                h3 {
                    font-size: 16px;
                }
            }   

            @media screen and (max-width: 768px) {
                h1 {
                    font-size: 35px;
                }

                h2 {
                    font-size: 28px;
                }
            }
            
            @media screen and (max-width: 500px) {
                h3 {
                    font-size: 14px;
                }
            }
        }

        .inicio-agradecimento{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            h3{
                font-weight: 600;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

    .sec-fotos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px;
        width: 100%;

        .expo-images{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow-x: hidden;
            padding: 10px 20px;
            
            .slide{
                width: 870px;
                height: 489px;
                -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
                box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            }

            .carrosel{
                display: flex;
                flex-direction: row;
                margin-bottom: 30px;
                max-width: 870px;
                width: 100%;
                
                height: 100%;

                .Button-chevron{
                    background-color: transparent;
                    outline: none;
                    border: none;
                }
            }

            .carrosel-item{
                img{
                    height: 100%;
                    width:100%;
                    
                }
                
            }
        }
        
    }

    @media screen and (max-width: 1000px){
        .sec-fotos{
            .expo-images{
                .slide{
                    width: 720px;
                    height: 400px;
                }
        
                .carrosel{
                    max-width: 720px;
                    max-height: 400px;
                }
            }
        }
        
    }

    @media screen and (max-width: 770px){
        .sec-fotos{
            .expo-images{
                .slide{
                    width: 509px;
                    height: 286px;
                }
            }
        }
        
    }


    @media screen and (max-width: 700px){
        .sec-inicio{
            div{
                h1{
                    font-size: 35px;
                }

                h2{
                    font-size: 28px;
                }
            }
        }
    }

    @media screen and (max-width: 590px){
        .sec-fotos{
            

            .expo-images{
                .slide{
                    width: 372px;
                    height: 209px;
                }
            }
        }
    }

    @media screen and (max-width: 411px){
        .sec-fotos{
            
            .expo-images{
                .slide{
                    width: 350px;
                    height: 190px;
                }
            }
        }
    }

    
    @media screen and (max-width: 390px){
        .sec-inicio{
            max-height: 480px;
        }

        .sec-fotos{
            
            .expo-images{
                .slide{
                    width: 330px;
                    height: 170px;
                }
            }
        }
    }

    @media screen and (max-width: 360px){
        .sec-inicio{
            max-height: 470px;
        }

        .sec-fotos{
            
            .expo-images{
                .slide{
                    width: 315px;
                    height: 155px;
                }
            }
        }
    }

    @media screen and (max-width: 320px){

        .sec-fotos{
            
            .expo-images{
                .slide{
                    width: 270px;
                    height: 155px;
                }
            }
        }
    }

    @media screen and (max-width: 280px){

        .sec-fotos{
            
            .expo-images{
                .slide{
                    width: 235px;
                    height: 155px;
                }
            }
        }
    }

    
    
}