@media (max-width:1280px) {
    .pagina-login-admn {
        header {
            height: 10vh;
            padding: 5px 50px;

            img {
                width: 45px;
                height: 45px;
            }

            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 11px;
            }
        }


        aside {
            height: 90vh;

            .fundo {
                z-index: 0;
                width: 100%;
                position: relative;
                bottom: 0.5%;
            }

            section {
                width: 1100px;
                z-index: 1;
                position: relative;
                top: 8%;

                .faixa1 {

                    >div {

                        p {
                            font-size: 18px;
                        }

                        hr {
                            width: 450px;
                        }
                    }
                }

                .faixa2 {

                    >div {
                        .t1 {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .info {
                        .inp1 {
                            label {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }


}

@media (max-width:1180px) {
    .pagina-login-admn {
        header {
            height: 10vh;
            padding: 5px 50px;

            img {
                width: 50px;
                height: 60px;
            }

            h1 {
                font-size: 22px;
            }

            h2 {
                font-size: 19px;
            }
        }

        aside {
            height: 90vh;

            section {
                width: 90%;


                .faixa1 {

                    >div {

                        p {
                            font-size: 16px;
                        }

                        hr {
                            width: 400px;
                        }
                    }
                }

                .faixa2 {

                    >div {
                        .t1 {
                            h1 {
                                font-size: 30px;
                            }
                        }

                        input{
                            width: 50%;
                        }
                    }

                    .info {
                        .inp1 {
                            label {
                                font-size: 20px;
                            }

                        }
                    }
                }
            }
        }
    }


}

@media (max-width:1024px) {
    .pagina-login-admn {
        header {
            height: 10vh;
            padding: 5px 50px;

            img {
                width: 50px;
                height: 60px;
            }

            h1 {
                font-size: 18px;
            }

            h2 {
                font-size: 15px;
            }
        }

        aside {
            height: 90vh;

            section {
                width: 90%;


                .faixa1 {

                    >div {

                        p {
                            font-size: 15px;
                        }

                        hr {
                            width: 380px;
                        }
                    }
                }

                .faixa2 {

                    >div {
                        .t1 {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .info {
                        .inp1 {
                            label {
                                font-size: 18px;
                            }

                            input{
                                width: 380px;
                            }

                            .senha{
                                width: 380px;

                                input{
                                    width: 280px;
                                }
                            }


                        }
                    }
                }
            }
        }
    }


}

@media (max-width:880px) {
    .pagina-login-admn {
        header {
            height: 10vh;
            padding: 5px 50px;

            img {
                width: 50px;
                height: 60px;
            }

            h1 {
                font-size: 18px;
            }

            h2 {
                font-size: 15px;
            }
        }

        aside {
            height: 90vh;

            section {
                width: 90%;


                .faixa1 {

                    >div {

                        p {
                            font-size: 15px;
                        }

                        hr {
                            width: 340px;
                        }
                    }
                }

                .faixa2 {

                    >div {
                        .t1 {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .info {
                        .inp1 {
                            label {
                                font-size: 18px;
                            }

                            input{
                                width: 350px;
                            }

                            .senha{
                                width: 350px;

                                input{
                                    width: 250px;
                                }
                            }


                        }
                    }
                }
            }
        }
    }


}

@media (max-width:800px) {
    .pagina-login-admn {
        header {
            height: 10vh;
            padding: 5px 50px;

            img {
                width: 50px;
                height: 60px;
            }

            h1 {
                font-size: 18px;
            }

            h2 {
                font-size: 15px;
            }
        }

        aside {
            height: 90vh;

            section {
                width: 90%;


                .faixa1 {

                    >div {

                        p {
                            font-size: 13px;
                        }

                        hr {
                            width: 300px;
                        }
                    }
                }

                .faixa2 {

                    >div {
                        .t1 {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .info {
                        .inp1 {
                            label {
                                font-size: 18px;
                            }

                            input{
                                width: 300px;
                            }

                            .senha{
                                width: 300px;

                                input{
                                    width: 200px;
                                }
                            }


                        }
                    }
                }
            }
        }
    }


}

@media (max-width:750px) {
    .pagina-login-admn {
        header {
            height: 10vh;
            padding: 5px 50px;

            img {
                width: 50px;
                height: 60px;
            }

            h1 {
                font-size: 18px;
            }

            h2 {
                font-size: 15px;
            }
        }

        aside {
            height: 90vh;

            section {
                width: 90%;


                .faixa1 {

                    >div {

                        p {
                            font-size: 12px;
                        }

                        hr {
                            width: 280px;
                        }
                    }
                }

                .faixa2 {

                    >div {
                        .t1 {
                            h1 {
                                font-size: 30px;
                            }
                        }
                    }

                    .info {
                        .inp1 {
                            label {
                                font-size: 18px;
                            }

                            input{
                                width: 280px;
                            }

                            .senha{
                                width: 280px;

                                input{
                                    width: 180px;
                                }
                            }


                        }
                    }
                }
            }
        }
    }


}