@media (max-width:1280px) {
    .pagina-login-adm{
        header{
            height: 10vh;
            padding: 5px 50px;

            img{
                width: 50px;
                height: 60px;
            }

            h1{
                font-size: 22px;
            }

            h2{
                font-size: 19px;
            }
        }

        aside{
            height: 90vh;

           section{
            width: 1100px;
          

           .faixa1{

             >div{

                p{
                    font-size: 18px;
                }
                 hr{
                    width: 450px;
                 }
             }
           } 

           .faixa2{

            >div{
                .t1{
                    h1{
                        font-size: 30px;
                    }
                }
            }

            .info{
                .inp1{
                label{
                    font-size: 22px;
                }
            }
            }
           }
        }
        }
    }

   
}

@media (max-width:1180px) {
    .pagina-login-adm{
        header{
            height: 10vh;
            padding: 5px 50px;

            img{
                width: 50px;
                height: 60px;
            }

            h1{
                font-size: 22px;
            }

            h2{
                font-size: 19px;
            }
        }

        aside{
            height: 90vh;

           section{
            width: 1000px;
          

           .faixa1{

             >div{

                p{
                    font-size: 18px;
                }
                 hr{
                    width: 450px;
                 }
             }
           } 

           .faixa2{

            >div{
                .t1{
                    h1{
                        font-size: 30px;
                    }
                }
            }

            .info{
                .inp1{
                label{
                    font-size: 22px;
                }
            }
            }
           }
        }
        }
    }

   
}

@media (max-width:900px) {
    .pagina-login-adm{
        header{
            height: 10vh;
            padding: 5px 50px;

            img{
                width: 50px;
                height: 60px;
            }

            h1{
                font-size: 22px;
            }

            h2{
                font-size: 19px;
            }
        }

        aside{
            height: 90vh;

           section{
            width: 800px;
          

           .faixa1{

             >div{

                p{
                    font-size: 18px;
                }
                 hr{
                    width: 450px;
                 }
             }
           } 

           .faixa2{

            >div{
                .t1{
                    h1{
                        font-size: 30px;
                    }
                }
            }

            .info{
                .inp1{
                label{
                    font-size: 22px;
                }
            }
            }
           }
        }
        }
    }

   
}

@media (max-width:768px) {
    .pagina-login-adm{
        header{
            height: 10vh;
            padding: 5px 50px;

            img{
                width: 50px;
                height: 60px;
            }

            h1{
                font-size: 22px;
            }

            h2{
                font-size: 19px;
            }
        }

        aside{
            height: 90vh;

           section{
            width: 700px;
          

           .faixa1{

             >div{

                p{
                    font-size: 18px;
                }
                 hr{
                    width: 450px;
                 }
             }
           } 

           .faixa2{

            >div{
                .t1{
                    h1{
                        font-size: 30px;
                    }
                }
            }

            .info{
                .inp1{
                label{
                    font-size: 22px;
                }
            }
            }
           }
        }
        }
    }

   
}