.page-homeAdm{

    display:flex;
    flex-direction: column;

    overflow-x: hidden;

    .conteudo{

        display:flex;
        flex-direction: row;
        justify-content: space-evenly;

        width:100vw;
        
        .informacoes{

            width:50%;

            >h3{

                margin-bottom:10px;

                color:#33215B;
                font-size:50px;
                text-align: center;
            }

            .infs-gerais{

                display:flex;
                flex-direction: row;
                justify-content: space-evenly;

                gap:40px;
                margin-bottom:10px;

                .usuarios-cadastrados,.visitantes-totais{

                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;

                    width:300px;

                    padding:20px;
                    gap:20px;

                    color:#fff;
                    background: #343D90;
                    border-radius:5px;

                    h5{

                        font-size:18px;
                    }
                    div{

                        display:flex;
                        flex-direction: row;
                        align-items: center;

                        gap:10px;

                        span{

                            font-size:40px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .taxa-presenca{

                margin-bottom:20px;

                font-size:24px;
                text-align: center;
                font-weight: 600;
                color:#33215B;

                span{
    
                    font-weight: 700;
                }

                hr{

                    height:3px;
                    background-color:#33215B;
                }
            }  
            
            .listar-salas-lotacao{

                display:flex;
                flex-direction:row;

                width:100%;
                gap:20px;

                .tabela{

                    display:flex;
                    flex-direction: column;
                    align-items: center;

                    width:75%;

                    padding:20px;

                    background-color: #343D90;
                    border-radius:5px;
                    color:#fff;

                    h6{

                        font-size:20px;
                        margin-bottom:20px;
                    }

                    table{

                        width: 100%;
                        border-collapse: collapse;
                        overflow-y: auto;

                        thead{
                            font-weight:600;
                            text-align: left;

                            height:20px;
                        }

                        tbody{
                            tr{

                                height:50px;
                                padding:20px;

                                border: 1px solid #FFF;
                                font-size:18px;
                            }
                        }
                    }
                }

                .filtro{

                    padding:10px;
                    border-radius:5px;

                    background-color: #343D90;
                    color:#fff;

                    width:25%;
                    height:200px;

                    h6{

                        font-size:16px;
                    }

                    hr{

                        margin-bottom:10px;
                    }

                    .inputs-filtro{

                        >div{
                            
                            input{

                                width:20px;
                                height:20px;

                                border:none;
                            }

                            
                        }
                    }
                }
            }
        }

        .selecionar{

            display:flex;
            flex-direction:column;
            align-items: center;

            gap:30px;
            color:#fff;

            .titulo{

                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin-bottom:30px;
    
                h3{
    
                    color:#00BDCE;
                    font-size:28px;
                }
    
                hr{
    
                    width: 450px;
                    height: 5px;
                    background: #0E71C8;
                }
            }
            
            .contagem,.validacao{

                display:flex;
                flex-direction: column;
                align-items: center;

                width:500px;
                height:250px;
                padding:20px 0px;

                border-radius:10px;
                background-color: #00BDCED9;

                h4{

                    font-size:18px;
                    margin-bottom:10px;
                }

                hr{

                    width: 100%;
                    height: 1px;

                    background: #fff;

                    margin-bottom:10px;
                }

                p{
                    max-width:430px;
                    font-size:12px;
                    text-align:center;

                    margin-bottom:15px;
                }

                .svg-main{

                    margin-bottom:20px;
                    margin-right:0px;
                }

                svg{

                    margin-right:10px;
                }

                .botao-direcionar{

                    display:flex;
                    flex-direction:row;
                    align-items: center;

                    gap:0 10px;
                    padding:15px 40px;

                    color:#fff;
                    text-decoration: none;
                    font-weight: 600;
                    border-radius: 50px;
                    background: #0FD7E9;
                }
            }

            .contagem:hover,.validacao:hover{

                background-color: #35D6E4D9;
                transform: scale(1.1);
                
                transition:0.4s;

                .botao-direcionar{

                    background: #1CC9D9;
                }
            }
        }
    }
}

@media(max-width:980px){

    .page-homeAdm{
        .conteudo{
            .titulo-conteudo{

                margin-bottom:10px;
                >div{
                    h3{
                        font-size:22px;
                    }
                    hr{
                        width:350px;
                    }
                }
            }
            .selecionar{

                padding:50px 0px;
            }
        }
    }
}

@media(max-width:768px){

    .page-homeAdm{
        .conteudo{
            .titulo-conteudo{
                >div{
                    h3{
                        font-size:18px;
                    }
                    hr{
                        width:300px;
                    }
                }
            }

            .selecionar{
                .contagem,.validacao{

                    h4{

                        font-size:14px;
                    }
                    p{
                        font-size:10px;
                    }
                    img{

                        width: 120px;
                        height: 90px;
                    }
                    .botao-direcionar{
    
                        padding:10px 80px;
                        font-size:14px;
                    }

                    #icon-lupa{

                        width:15px;
                        height:15px;
                    }

                    #icon-contar{

                        width:22px;
                        height:21px;
                    }
                }
            }
        }
    }
}

@media(max-width:580px){

    .page-homeAdm{
        .conteudo{
            .selecionar{
                .contagem,.validacao{

                    max-width:350px;
                    h4{

                        font-size:12px;
                    }
                    p{
                        font-size:9px;
                    }
                    img{

                        width: 120px;
                        height: 90px;
                    }
                    .botao-direcionar{
    
                        padding:10px 80px;
                        font-size:12px;

                        svg{

                            width:18px;
                            height:13px;
                        }
                    }

                    #icon-lupa{

                        width:15px;
                        height:15px;
                    }

                    #icon-contar{

                        width:19px;
                        height:18px;
                    }
                }
            }
        }
    }
}

@media(max-width:440px){

    .page-homeAdm{
        .conteudo{
            .selecionar{
                .contagem,.validacao{

                    max-width:300px;

                    .botao-direcionar{
    
                        padding:10px 60px;
                        font-size:12px;
                    }
                }
            }

            .titulo-conteudo{
                >div{
                    h3{
                        font-size:12px;
                    }
                    hr{
                        width:180px;
                    }
                }
            }
        }
    }
}

@media(max-width:369px){

    .page-homeAdm{
        .conteudo{
            .selecionar{
                .contagem,.validacao{

                    max-width:200px;
                    height:200px;

                    h4{

                        font-size:10px;
                        margin-bottom:5px;
                    }
                    p{
                        font-size:8px;
                        margin-bottom:5px;
                    }
                    img{

                        width: 90px;
                        height: 60px;
                    }
                    .botao-direcionar{
    
                        padding:8px 30px;
                        font-size:10px;

                        svg{

                            width:15px;
                            height:10px;
                        }
                    }

                    #icon-lupa{

                        width:12px;
                        height:12px;
                    }

                    #icon-contar{

                        width:16px;
                        height:15px;
                    }
                }
            }
        }
    }
}

