.page-homeAdm{

    display:flex;
    flex-direction: column;
    overflow-x: hidden;

    .conteudo{

        display:flex;
        flex-direction: row;
        justify-content: space-evenly;

        width:100vw;
        
        .informacoes{

            width:50%;

            .infs-gerais{

                display:flex;
                flex-direction: column;

                >h3{

                    margin-bottom:10px;
    
                    color:#33215B;
                    font-size:30px;
                    text-align: center;
                }

                .container-infs-gerais{

                    display:flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    gap:40px;
                    margin-bottom:10px;
                }

                .container-infs-gerais .usuarios-cadastrados,.visitantes-totais{

                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;

                    width:300px;

                    padding:20px;
                    gap:20px;

                    color:#fff;
                    background: #343D90;
                    border-radius:5px;

                    h5{

                        font-size:18px;
                    }
                    div{

                        display:flex;
                        flex-direction: row;
                        align-items: center;

                        gap:10px;

                        span{

                            font-size:40px;
                            font-weight: 600;
                        }
                    }
                }

                .taxa-presenca{

                    margin-bottom:20px;
    
                    font-size:24px;
                    text-align: center;
                    font-weight: 600;
                    color:#33215B;
    
                    span{
        
                        font-weight: 700;
                    }
    
                    hr{
    
                        height:3px;
                        background-color:#33215B;
                    }
                }  
            }
            
            .listar-salas-lotacao{

                display:flex;
                flex-direction:column-reverse;
                align-items: center;

                width:100%;
                gap:20px;

                .tabela::-webkit-scrollbar{

                    width:10px;
                    border-radius:20px;
                    background-color:#3A48B1;
                }

                .tabela::-webkit-scrollbar-track{

                    background-color: transparent;
                }

                .tabela::-webkit-scrollbar-thumb{

                    background-color: #D1D1D1;
                    border-radius: 20px;
                }

                .tabela{

                    display:flex;
                    flex-direction: column;
                    align-items: center;

                    overflow-y:auto;
                    width:100%;
                    max-height:500px;

                    padding:20px;

                    background-color: #343D90;
                    border-radius:5px;
                    color:#fff;

                    h6{

                        font-size:20px;
                        margin-bottom:20px;
                    }

                    table{

                        width: 100%;
                        border-collapse: collapse;
                        overflow-y: auto;

                        thead{

                            font-weight:600;
                            text-align: left;
                            font-size:16px;
                            text-align: center;

                            height:20px;
                        }

                        tbody{
                            tr{

                                height:50px;
                                padding:20px;

                                border: 1px solid #FFF;
                                font-size:14px;
                                text-align: center;
                            }
                        }
                    }
                }

                .filtro{

                    padding:10px;
                    border-radius:5px;

                    background-color: #343D90;
                    color:#fff;

                    width:60%;
                    height:100px;

                    h6{

                        font-size:16px;
                        text-align:center;
                    }

                    hr{

                        margin-bottom:20px;
                    }

                    .inputs-filtro{

                        display:flex;
                        flex-direction: row;
                        justify-content: space-evenly;

                        >div{

                            margin-bottom:20px;

                            input{

                                display:none;
                            }

                            label{

                                display:flex;
                                flex-direction: row;
                                align-items:center;
                                gap:10px;
                            }

                            label:before{
                                
                                content:'';
                                display:block;

                                width:30px;
                                height:30px;

                                background-color: #fff;
                                border-radius:5px;
                            }

                            input:checked + label:before{

                                content:'';
                                background-color:#262C68;
                                // Background image com svg base 64
                                background-image: url("data:image/svg+xml,%3Csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1022_2)'%3E%3Cpath d='M19.5798 4.73364C20.1378 5.29517 20.1378 6.20708 19.5798 6.7686L8.15123 18.2686C7.59319 18.8301 6.68694 18.8301 6.12891 18.2686L0.414621 12.5186C-0.143415 11.9571 -0.143415 11.0452 0.414621 10.4836C0.972656 9.92212 1.87891 9.92212 2.43694 10.4836L7.1423 15.2139L17.5619 4.73364C18.12 4.17212 19.0262 4.17212 19.5843 4.73364H19.5798Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1022_2'%3E%3Crect width='20' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                                background-position: center center;
                                background-repeat: no-repeat;

                                transition: background-image 1s, background-color 0.2s;
                            }
                        }
                    }
                }
            }
        }

        .selecionar{

            display:flex;
            flex-direction:column;
            align-items: center;

            gap:30px;
            color:#fff;

            .titulo{

                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin-bottom:30px;
    
                h3{
    
                    color:#00BDCE;
                    font-size:30px;
                }
    
                hr{
    
                    width: 450px;
                    height: 5px;
                    background: #0E71C8;
                }
            }
            
            .container-selecionar{

                display:flex;
                flex-direction:column;

                gap:20px;
            }

            .container-selecionar .contagem,.validacao{

                display:flex;
                flex-direction: column;
                align-items: center;

                width:400px;
                height:250px;
                padding:20px 10px;

                border-radius:10px;
                background-color: #00BDCED9;

                h4{

                    font-size:18px;
                    margin-bottom:10px;
                }

                hr{

                    width: 100%;
                    height: 1px;

                    background: #fff;

                    margin-bottom:10px;
                }

                p{
                    max-width:430px;
                    font-size:12px;
                    text-align:center;

                    margin-bottom:15px;
                }

                .svg-main{

                    margin-bottom:20px;
                    margin-right:0px;
                }

                svg{

                    margin-right:10px;
                }
                
                .botao-direcionar{

                    display:flex;
                    flex-direction:row;
                    align-items: center;

                    gap:0 10px;
                    padding:15px 40px;

                    color:#fff;
                    text-decoration: none;
                    font-weight: 600;
                    border-radius: 50px;
                    background: #0FD7E9;
                }
            }

            .contagem:hover,.validacao:hover{

                background-color: #35D6E4D9;
                transform: scale(1.1);
                
                transition:0.4s;

                .botao-direcionar{

                    background: #1CC9D9;
                }
            }
        }
    }
}

@media(max-width:980px){

    .page-homeAdm{
        .conteudo{
            .informacoes{

                .container-infs-gerais .usuarios-cadastrados,.visitantes-totais{

                    max-height: 120px;
                    width:200px !important;

                    h5{

                        font-size:16px !important;
                    }

                    div{

                        font-size:14px;
                        span{

                            font-size:30px !important;
                        }
                    }          
                }

                .listar-salas-lotacao{

                    .filtro .inputs-filtro > div label{

                        font-size:14px;
                    }

                    .filtro .inputs-filtro > div label:before{

                        width:25px;
                        height:25px;
                    }
                    
                    .tabela {
                    
                        h6 {

                            font-size: 16px;
                        }

                        table {
                            thead {

                                font-size:14px;
                            }
                            tbody{

                                tr{
                                    font-size:13px;
                                }
                            }
                        }
                    }
                }
            }

            .selecionar{
                .titulo{

                    margin-bottom:10px;
                    
                    h3{
                        font-size:20px;
                    }
                    hr{
                        width:300px;
                    }         
                }

                .container-selecionar .contagem,.validacao{

                    width:300px;
                    height:250px;

                    h4{


                        font-size:14px;
                    }

                    #icon-lupa{

                        width:15px;
                        height:15px;
                    }

                    #icon-contar{

                        width:22px;
                        height:21px;
                    }


                    #icon-gear{

                        width:52px;
                        height:54px;
                    }

                    #icon-user-valid{

                        width:75px;
                        height:56px;
                    }

                    .botao-direcionar{

                        font-size:12px;
                        padding:10px 20px;

                        svg{

                            width:18px;
                            height:13px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:768px){

    .page-homeAdm{
        .conteudo{

            flex-direction: column-reverse;
            .informacoes{

                display:flex;
                flex-direction: row;
                justify-content: space-between;

                width:100%;
                padding:0px 30px;
                gap:10px;

                .infs-gerais .container-infs-gerais{

                    flex-direction:column;
                    align-items: center;
                }

                .listar-salas-lotacao .tabela{

                    max-height:400px;
                    margin-bottom:30px;

                    table thead {
                        font-size:13px;
                    }
                } 
                
                .listar-salas-lotacao .filtro{

                    width:100%;
                }
            }

            .selecionar{

                width:100vw;
                margin-bottom:40px;

                .container-selecionar{

                    flex-direction:row;
                }

                .container-selecionar .contagem,.validacao{

                    width:270px;

                    h4{

                        font-size:14px;
                    }
                    p{
                        font-size:10px;
                    }
                    img{

                        width: 120px;
                        height: 90px;
                    }
                    .botao-direcionar{
    
                        padding:10px 10px;
                        font-size:14px;
                    }

                    #icon-lupa{

                        width:15px;
                        height:15px;
                    }

                    #icon-contar{

                        width:22px;
                        height:21px;
                    }
                }
            }
        }
    }
}

@media(max-width:580px){

    .page-homeAdm{
        .conteudo{
            flex-direction: column-reverse;
            
            .informacoes{

                flex-direction:column;
                padding:0px 10px;

                .infs-gerais .container-infs-gerais{

                    flex-direction: row;
                    justify-content: center;
                    width:100%;
                }

                .listar-salas-lotacao .tabela{

                    overflow-x:hidden;
                }
            }

            .selecionar{

                margin-bottom:20px;

                .container-selecionar{

                    flex-direction:column;
                }

                .container-selecionar .contagem, .validacao{

                    height:120px;
                    width:240px;
                    p{

                        display:none;
                    }

                    .svg-main{

                        display:none;
                    }
                }
            }
        }
    }
}

@media(max-width:460px){

    .page-homeAdm{
        .conteudo{
            .informacoes{
                .infs-gerais{
                    h3{

                        font-size:20px;
                    }
                    .container-infs-gerais >div{

                        height:200px;
                        
                        h5{
                            font-size:14px !important;
                        }
                    }
                }
            }

            .selecionar{
                .contagem,.validacao{

                    max-width:300px;
                }
            }

            .titulo-conteudo{
                >div{
                    h3{
                        font-size:12px;
                    }
                    hr{
                        width:180px;
                    }
                }
            }
        }
    }
}

@media(max-width:369px){

   
}

