.page-homeAdm{

    display:flex;
    flex-direction: column;

    overflow-x: hidden;

    .conteudo{

        display:flex;
        flex-direction: row;
        justify-content: space-evenly;

        width:100vw;
        
        .informacoes{

            width:50%;

            >h3{

                margin-bottom:10px;

                color:#33215B;
                font-size:50px;
                text-align: center;
            }

            .infs-gerais{

                display:flex;
                flex-direction: row;
                justify-content: space-evenly;

                gap:40px;
                margin-bottom:10px;

                .usuarios-cadastrados,.visitantes-totais{

                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;

                    width:300px;

                    padding:20px;
                    gap:20px;

                    color:#fff;
                    background: #343D90;
                    border-radius:5px;

                    h5{

                        font-size:18px;
                    }
                    div{

                        display:flex;
                        flex-direction: row;
                        align-items: center;

                        gap:10px;

                        span{

                            font-size:40px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .taxa-presenca{

                margin-bottom:20px;

                font-size:24px;
                text-align: center;
                font-weight: 600;
                color:#33215B;

                span{
    
                    font-weight: 700;
                }

                hr{

                    height:3px;
                    background-color:#33215B;
                }
            }  
            
            .listar-salas-lotacao{

                display:flex;
                flex-direction:row;

                width:100%;
                gap:20px;

                .tabela::-webkit-scrollbar{

                    width:10px;
                    border-radius:20px;
                    background-color:#3A48B1;
                }

                .tabela::-webkit-scrollbar-track{

                    background-color: transparent;
                }

                .tabela::-webkit-scrollbar-thumb{

                    background-color: #D1D1D1;
                    border-radius: 20px;
                }

                .tabela{

                    display:flex;
                    flex-direction: column;
                    align-items: center;

                    overflow-y:auto;
                    width:75%;
                    max-height:500px;

                    padding:20px;

                    background-color: #343D90;
                    border-radius:5px;
                    color:#fff;

                    h6{

                        font-size:20px;
                        margin-bottom:20px;
                    }

                    table{

                        width: 100%;
                        border-collapse: collapse;
                        overflow-y: auto;

                        thead{
                            font-weight:600;
                            text-align: left;

                            height:20px;
                        }

                        tbody{
                            tr{

                                height:50px;
                                padding:20px;

                                border: 1px solid #FFF;
                                font-size:18px;
                            }
                        }
                    }
                }

                .filtro{

                    padding:10px;
                    border-radius:5px;

                    background-color: #343D90;
                    color:#fff;

                    width:25%;
                    height:150px;

                    h6{

                        font-size:16px;
                    }

                    hr{

                        margin-bottom:20px;
                    }

                    .inputs-filtro{

                        >div{

                            margin-bottom:20px;

                            input{

                                display:none;
                            }

                            label{

                                display:flex;
                                flex-direction: row;
                                align-items:center;
                                gap:10px;
                            }

                            label:before{
                                
                                content:'';
                                display:block;

                                width:30px;
                                height:30px;

                                background-color: #fff;
                                border-radius:5px;
                            }

                            input:checked + label:before{

                                content:'';
                                background-color:#262C68;
                                // Background image com svg base 64
                                background-image: url("data:image/svg+xml,%3Csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1022_2)'%3E%3Cpath d='M19.5798 4.73364C20.1378 5.29517 20.1378 6.20708 19.5798 6.7686L8.15123 18.2686C7.59319 18.8301 6.68694 18.8301 6.12891 18.2686L0.414621 12.5186C-0.143415 11.9571 -0.143415 11.0452 0.414621 10.4836C0.972656 9.92212 1.87891 9.92212 2.43694 10.4836L7.1423 15.2139L17.5619 4.73364C18.12 4.17212 19.0262 4.17212 19.5843 4.73364H19.5798Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1022_2'%3E%3Crect width='20' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }

        .selecionar{

            display:flex;
            flex-direction:column;
            align-items: center;

            gap:30px;
            color:#fff;

            .titulo{

                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin-bottom:30px;
    
                h3{
    
                    color:#00BDCE;
                    font-size:28px;
                }
    
                hr{
    
                    width: 450px;
                    height: 5px;
                    background: #0E71C8;
                }
            }
            
            .contagem,.validacao{

                display:flex;
                flex-direction: column;
                align-items: center;

                width:500px;
                height:250px;
                padding:20px 0px;

                border-radius:10px;
                background-color: #00BDCED9;

                h4{

                    font-size:18px;
                    margin-bottom:10px;
                }

                hr{

                    width: 100%;
                    height: 1px;

                    background: #fff;

                    margin-bottom:10px;
                }

                p{
                    max-width:430px;
                    font-size:12px;
                    text-align:center;

                    margin-bottom:15px;
                }

                .svg-main{

                    margin-bottom:20px;
                    margin-right:0px;
                }

                svg{

                    margin-right:10px;
                }

                .botao-direcionar{

                    display:flex;
                    flex-direction:row;
                    align-items: center;

                    gap:0 10px;
                    padding:15px 40px;

                    color:#fff;
                    text-decoration: none;
                    font-weight: 600;
                    border-radius: 50px;
                    background: #0FD7E9;
                }
            }

            .contagem:hover,.validacao:hover{

                background-color: #35D6E4D9;
                transform: scale(1.1);
                
                transition:0.4s;

                .botao-direcionar{

                    background: #1CC9D9;
                }
            }
        }
    }
}

@media(max-width:980px){

    .page-homeAdm{
        .conteudo{
            .titulo-conteudo{

                margin-bottom:10px;
                >div{
                    h3{
                        font-size:22px;
                    }
                    hr{
                        width:350px;
                    }
                }
            }
            .selecionar{

                padding:50px 0px;
            }
        }
    }
}

@media(max-width:768px){

    .page-homeAdm{
        .conteudo{
            .titulo-conteudo{
                >div{
                    h3{
                        font-size:18px;
                    }
                    hr{
                        width:300px;
                    }
                }
            }

            .selecionar{
                .contagem,.validacao{

                    h4{

                        font-size:14px;
                    }
                    p{
                        font-size:10px;
                    }
                    img{

                        width: 120px;
                        height: 90px;
                    }
                    .botao-direcionar{
    
                        padding:10px 80px;
                        font-size:14px;
                    }

                    #icon-lupa{

                        width:15px;
                        height:15px;
                    }

                    #icon-contar{

                        width:22px;
                        height:21px;
                    }
                }
            }
        }
    }
}

@media(max-width:580px){

    .page-homeAdm{
        .conteudo{
            .selecionar{
                .contagem,.validacao{

                    max-width:350px;
                    h4{

                        font-size:12px;
                    }
                    p{
                        font-size:9px;
                    }
                    img{

                        width: 120px;
                        height: 90px;
                    }
                    .botao-direcionar{
    
                        padding:10px 80px;
                        font-size:12px;

                        svg{

                            width:18px;
                            height:13px;
                        }
                    }

                    #icon-lupa{

                        width:15px;
                        height:15px;
                    }

                    #icon-contar{

                        width:19px;
                        height:18px;
                    }
                }
            }
        }
    }
}

@media(max-width:440px){

    .page-homeAdm{
        .conteudo{
            .selecionar{
                .contagem,.validacao{

                    max-width:300px;

                    .botao-direcionar{
    
                        padding:10px 60px;
                        font-size:12px;
                    }
                }
            }

            .titulo-conteudo{
                >div{
                    h3{
                        font-size:12px;
                    }
                    hr{
                        width:180px;
                    }
                }
            }
        }
    }
}

@media(max-width:369px){

    .page-homeAdm{
        .conteudo{
            .selecionar{
                .contagem,.validacao{

                    max-width:200px;
                    height:200px;

                    h4{

                        font-size:10px;
                        margin-bottom:5px;
                    }
                    p{
                        font-size:8px;
                        margin-bottom:5px;
                    }
                    img{

                        width: 90px;
                        height: 60px;
                    }
                    .botao-direcionar{
    
                        padding:8px 30px;
                        font-size:10px;

                        svg{

                            width:15px;
                            height:10px;
                        }
                    }

                    #icon-lupa{

                        width:12px;
                        height:12px;
                    }

                    #icon-contar{

                        width:16px;
                        height:15px;
                    }
                }
            }
        }
    }
}

