.cabecalho-adm{

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    width:100%;
    height:10vh;

    padding:0px 20px;
    margin-bottom:10px;

    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
    color:#33215B;
    text-align:center;

    .botao-header{

        padding:10px 30px;

        background-color: #242B6B;

        text-decoration:none;
        font-size:14px;
        color:#fff;
        font-weight:600;
        border-radius:10px;
    }

    h1{

        font-size:18px;
    }

    h2{

        font-size:16px;
    }
}

@media(max-width:1279px){

    .cabecalho-adm{

        .botao-header{

            font-size:12px;
        }

        h1{
            font-size:14px;
        }

        h2{

            font-size:12px;
        }
    }
}

@media(max-width:980px){

    .cabecalho-adm{

        .botao-header{

            padding:10px;
            font-size: 10px;
        }

        h1{
            font-size:12px;
        }

        h2{

            font-size:10px;
        }
    }
}

@media(max-width:768px){

   
    .cabecalho-adm{

        display:flex;
        flex-direction: column-reverse;

        padding:10px 0px;
        gap:5px;

        .botao-header{

            padding:5px 10px;
            font-size: 10px;
        }

        h1{
            font-size:10px;
        }

        h2{

            font-size:8px;
        }
    }
}