.menu-adm{

    width: 20%;
    height:100vh;

    padding:80px 0px;

    background-color: #242C6B;
    color:#fff;

    .logo{

        display:flex;
        flex-direction: column;
        align-items: center;
        
        margin-bottom:50px;
        padding:10px;

        #logo{

            width:100%;
            max-width:70px;

            margin-bottom:10px;
        }

        hr{

            width: 100%;
            height: 5px;

            background-color:#fff;

            margin-bottom:20px;
        }

        >div{

            display:flex;
            flex-direction:row;
            align-items: center;

            gap:5px;

            font-size: 14px;
            font-weight: 600;
        }
    }

    .telas-adm{

        display:flex;
        flex-direction:column;

        gap:40px 0px;

        .Link{

            padding:10px;

            span,hr{

                text-decoration: none;
                color:#fff;
                font-size:14px;
                font-weight:600;
            }

            svg{

                margin-right:8px;

                fill:white;
            }

            hr{ 
                
                width: 100%;
                height: 0px;
                margin-top:5px; 
            }
        }

        .Link:hover{
            
            height:70px;
            margin-top:-10px;
            margin-left:10px;

            background-color: #fff;
            transition:0.4s;

            span,hr{

                color:#000;
            }
            svg{

                fill:black;
            }
        }
    }
}

@media(max-width:1279px){

    .menu-adm{
        .logo{

            >div{

                font-size:10px;

                #engrenagem-icon{

                    width:20px;
                    height:17px;
                }
            }
        }
    }

    .menu-adm{

        .telas-adm{
            .Link{
    
                #icon-casa{
    
                    width:18px;
                    height:16px;
                }
    
                #icon-ingresso{
    
                    width:20px;
                    height:15px;
                }
    
                #icon-pessoas{
    
                    width:18px;
                    height:14px;
                }
            }
    
            .Link:hover{
    
                height:75px;
            }
        }
    }
    
}

@media(max-width:980px){

    #icon-casa,#icon-ingresso,#icon-pessoas,#engrenagem-icon{

        display:none;
    }

    .menu-adm{
        .telas-adm{
            .Link{
                span{
                    font-size:12px;
                }
            }
        }
    }
}

@media(max-width:767px){

    .menu-adm{
        .logo{

            >div{

                font-size:0px;
            }
        }
    }

    .menu-adm{
        .telas-adm{
            .Link{
                span{
                    display:none;
                }
            }
        }
    }

    #icon-casa,#icon-ingresso,#icon-pessoas{

        display:block;
        margin-right:0px;
    }
    
    .menu-adm{
        .telas-adm{
            .Link{

                display:flex;
                flex-direction: column;
                align-items: center;

                #icon-casa{
                    width:24px;
                    height:22px;
                }

                #icon-ingresso{

                    width:30px;
                    height:25px;
                }
        
                #icon-pessoas{
        
                    width:26px;
                    height:22px;
                }
            }
        }
    }
}

@media(max-width:440px){


    .menu-adm{
        .telas-adm{
            .Link{
                #icon-casa{
                    width:20px;
                    height:18px;
                }

                #icon-ingresso{

                    width:20px;
                    height:15px;
                }
        
                #icon-pessoas{
        
                    width:18px;
                    height:14px;
                }
            }
        }
    }
}

@media(max-width:319px){

    .menu-adm{

        .logo{

            display:none;
        }
    }
}