.page-verificar-adm {
    
    width: 100%;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;

        >h2 {
            color: #33215B;
        }

        section {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .verificar-adm {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: auto;
                height: auto;
                margin-top: 70px;

                >img {
                    position: relative;
                    width: 279px;
                    height: auto;
                }

                .verificar-inp {
                    background-color: #00BDCE;
                    display: flex;
                    flex-direction: column;
                    width: 475px;
                    height: auto;
                    padding: 30px 35px;
                    border-radius: 2px;

                    >hr {
                        height: 2px;
                        border: none;
                        background-color: #fff;
                        margin: 10px 0 20px;
                        padding: 0px;
                        margin-top: 10px;
                    }

                    >h2 {
                        color: #fff;
                    }

                    .verificar-input {
                        display: flex;
                        flex-direction: column;

                        label {
                            color: #fff;
                            font-size: 16px;
                            margin: 30px 0 7px;
                        }

                        input {
                            width: 365px;
                            height: 40px;
                            border: none;
                            border-radius: 7px;
                            font-size: 14px;
                            padding: 0 15px;
                            margin-bottom: 55px;
                        }

                        input:focus {
                            outline: none;
                        }

                        >button {
                            width: 250px;
                            height: 45px;
                            font-size: 13.5px;
                            align-self: center;
                            background-color: #017a85;
                            color: #fff;
                            border: none;
                            border-radius: 3px;
                        }

                        button:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    footer {
        img {
            width: 100%;
            height: auto;
        }
    }

}