@media(max-width:1280px) {
    .page-verificar-adm {

        main {
            >h2 {
                font-size: 20px;
            }

            section {
                .verificar-adm {
                    margin-top: 50px;

                    >img {
                        width: 250px;
                        height: auto;
                    }

                    .verificar-inp {
                        width: 425px;
                        padding: 22px 25px;

                        >h2 {
                            font-size: 21px;
                        }

                        .verificar-input {
                            label {
                                font-size: 14px;
                            }

                            input {
                                width: 340px;
                                height: 35px;
                                font-size: 13px;
                                padding: 0 12px;
                                margin-bottom: 35px;
                            }

                            >button {
                                width: 225px;
                                height: 40px;
                                font-size: 11.5px;
                            }
                        }
                    }
                }    
            }
        }
    }
}

@media(max-width:980px) {
    .page-verificar-adm {

        main {
            >h2 {
                font-size: 20px;
            }

            section {
                .verificar-adm {
                    margin-top: 50px;

                    >img {
                        width: 250px;
                        height: auto;
                    }

                    .verificar-inp {
                        width: 425px;
                        padding: 22px 25px;

                        >h2 {
                            font-size: 21px;
                        }

                        .verificar-input {
                            label {
                                font-size: 14px;
                            }

                            input {
                                width: 340px;
                                height: 35px;
                                font-size: 13px;
                                padding: 0 12px;
                                margin-bottom: 35px;
                            }

                            >button {
                                width: 225px;
                                height: 40px;
                                font-size: 11.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:910px) {

    .page-verificar-adm {
        main {
            >h2 {
                font-size: 18.5px;
            }

            section {
                .verificar-adm {
                    margin-top: 35px;

                    >img {
                        display: none;
                    }

                    .verificar-inp {
                        width: 425px;
                        padding: 22px 25px;

                        >h2 {
                            font-size: 18px;
                        }

                        .verificar-input {
                            label {
                                font-size: 13.5px;
                            }

                            input {
                                width: 340px;
                                height: 35px;
                                font-size: 13px;
                                padding: 0 12px;
                                margin-bottom: 35px;
                            }

                            >button {
                                width: 225px;
                                height: 40px;
                                font-size: 11.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:768px){

    .page-verificar-adm{
        main{
            section{
                .resultado-verificacao{
                    .usuarios-encontrados,.usuarios-nao-encontrados{
                        
                        >h2{
    
                            font-size:20px;
                        }

                        table{
                            thead{
                                font-size:16px;
                            }
    
                            tbody{
    
                                tr{
                                    font-size:13px !important;
    
                                    td .botao-validar,.botao-desvalidar{

                                        padding:6px;
                                        svg{
                                            width:22px;
                                             height:14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 428px) {

    .page-verificar-adm {
        width: 100%;

        main {
            >h2 {
                font-size: 15.5px;
            }

            section {
                .verificar-adm {
                    margin-top: 35px;
                    width: 100%;

                    >img {
                        display: none;
                    }

                    .verificar-inp {
                        width: 100%;
                        padding: 22px 25px;

                        >h2 {
                            font-size: 14px;
                        }

                        .verificar-input {
                            label {
                                font-size: 12.5px;
                            }

                            input {
                                width: 340px;
                                height: 30px;
                                font-size: 11.5px;
                                padding: 0 10px;
                                margin-bottom: 35px;
                            }

                            >button {
                                width: 200px;
                                height: 33px;
                                font-size: 9.7px;
                            }
                        }
                    }
                }

                .resultado-verificacao{
                    .usuarios-encontrados,.usuarios-nao-encontrados{

                        table{
                            thead{
                                font-size:14px;
                            }
    
                            tbody{
    
                                tr{
                                    font-size:12px !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            img {
                display: none;
            }
        }
    }
}